<footer id="footer">
	<div class="container">
		<div class="row text-center img-logo">
			<img src="/images/logo.png" alt="" class="img-responsive">
		</div>
		<div class="row text-center social">
			<p>
				<i class="fa fa-envelope"></i>
				Email: vendas@etiquetanegrabrasil.com.br
			</p>			
			<p>
				<i class="fa fa-map-marker"></i>
				Address: Rua Funchal, 411 Sala 81 - Showroom
			</p>
			<p>
				<i class="fa fa-mobile"></i>
				Phone: +55 (11) 3049-1000
			</p>
			<a href="#facebook" class="facebook">
				<i class="fa fa-facebook"></i>
			</a>
			<a href="#instagram" class="instagram">
				<i class="fa fa-instagram"></i>
			</a>
			<a href="#whatsapp" data-toggle="tooltip" data-placement="bottom" title="(11) 3049-1000" class="whatsapp">
				<i class="fa fa-whatsapp"></i>
			</a>
		</div>
	</div>
</footer>